* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.error {
  margin-top: 50%;
}

.searchBox {
  width: 90%;
  margin: auto;
}

.btn {
  background-color: cornflowerblue;
}

.data-content {
  display: grid;
  grid-auto-flow: row;
  justify-content: space-evenly;
  width: 85%;
  row-gap: 20px;
}

.cardplace {
  display: grid;
  grid-template-columns: 50% 50%;

  border-radius: 20px;
  /* background: #ffffff; */
  -webkit-box-shadow: 18px 17px 36px -26px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 18px 17px 36px -26px rgba(0, 0, 0, 0.34);
  box-shadow: 18px 17px 36px -26px rgba(0, 0, 0, 0.34);
  column-gap: 10px;
}

.card-desc {
  padding: 10px;
}

.card-img {
  display: flex;
  height: 250px;
  background-color: yellowgreen;
}

.card-img img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card-title {
  --max-lines: 2;
  max-height: calc(var(--lh) * var(--max-lines));
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}

.card-title h6 {
  width: 100%;
  text-overflow: ellipsis;
}

.card-btn {
  display: flex;
  height: min-content;
}

.modal-desc {
  overflow: scroll;
  height: 300px;
}

.choose-grp button:focus {
  box-shadow: none !important;
}

@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
  .data-content {
    grid-template-columns: 20% 20% 20% 20%;
  }
  .cardplace {
    display: flex;
    flex-direction: column;
    column-gap: 0;
  }
  .card-img img {
    width: 100%;
  }
  .searchBox {
    width: 55%;
    margin: auto;
  }
}
